@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

#hamburguer{
    display: flex;
    flex-flow: column nowrap;
    width: 30px;
    height: 50px;
    align-self: flex-start;
    cursor: pointer;
}

#hamburguer span{
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 7px;
}

nav#menu{
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    width: 95%;
    padding: 30px;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 30px 30px;
}

nav span{
    width: 200px;
}

nav span img{
    max-width: 100%;
}

nav > ul{
    list-style: none;
}

li{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 20px;
}

a{
    color: black;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}

a:hover{
    background-color: purple;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
    border-radius: 30px;
    color: white;
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(../imagens/bg-section.png);
    background-size: contain;
    background-repeat: repeat-y;
    max-width: 100%;
}

section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

div.container{
    display: grid;
    grid-template-columns: auto 48% 48% auto;
    grid-template-rows: auto auto auto ;
    justify-items: start;
    align-items: start;
    color: rgb(107, 81, 81);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
    margin: 100px 0px;
    padding: 15px;
    width: 90%;
    gap: 15px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
    padding: 10px;
    width: 300px;
    color: white;
}

h3{
    font-family: cursive;
}

h3::before{
    color: purple;
    content: "\2665";
    font-size: 2em;
}

.sabores{
    grid-column-start: 2;
    grid-row-start: span 2;
}

.tamanho{
    grid-column-start: 3;
    grid-row-start: 1;
}

.massas{
    grid-column-start: 3;
    grid-row-start: 1;
}

.recheios{
    grid-column-start: 3;
    grid-row-start: 2;
}

.cobertura{
    grid-column-start: 3;
    grid-row-start: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: black;
}

footer span{
    width: fit-content;
}

footer span img{
    width: 40%;
}