@charset "UTF-8";

:root{
    --cor-principal: #990082;
    --cor-secundaria: #CC00AD;
    --cor-terciaria: #FF00D9;
    --texto: #FFE5FB;
}

body.escuro{
    --cor-principal: #24001E;
    --cor-secundaria: #33002B;
    --cor-terciaria: #660057;
    --texto: #FF99F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburguer{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    align-self: flex-start;
    cursor: pointer;
}

#hamburguer span{
    text-align: center;
    width: 90%;
    height: 3px;
    background-color: var(--texto);
    margin-top: 3px;
}

nav#menu{
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    align-items: center;
    background-color: var(--cor-principal);
    border-radius: 20px;
    height: 50px;
}

nav span{
    width: 200px;
    transition: transform .3s;
    border-radius: 30px;
}

#icone{
    position: absolute;
    right: 10px;
}

#icone i{
    position: relative;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--texto);
    align-self: flex-end;
}

#icone i:hover{
    color: var(--cor-secundaria);
}

nav span img{
    max-width: 100%;
}

nav > ul{
    display: none;
    list-style: none;
    margin-top: 10px;
}

li{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 20px;
}

a{
    color: var(--texto);
    text-decoration: none;
    padding: 10px;
    width: 100%;
}

a:hover{
    background-color: var(--cor-secundaria);
    border-radius: 30px;
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(../imagens/bg-section.png);
    background-size: contain;
    background-repeat: repeat-y;
    max-width: 100%;
}

section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}

div.container{
    display: grid;
    grid-template-columns: auto 48% 48% auto;
    grid-template-rows: auto auto auto ;
    justify-items: start;
    align-items: start;
    color: var(--cor-terciaria);
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    outline: 2px solid var(--cor-secundaria);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
    margin: 100px 0px;
    padding: 15px;
    width: 90%;
    gap: 15px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-principal);
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
    padding: 10px;
    width: 300px;
    color: var(--texto);
}

h3{
    font-family: cursive;
}

h3::before{
    color: var(--cor-secundaria);
    content: "\2665";
    font-size: 2em;
}

.sabores{
    grid-column-start: 2;
    grid-row-start: span 2;
}

.tamanho{
    grid-column-start: 3;
    grid-row-start: 1;
}

.massas{
    grid-column-start: 3;
    grid-row-start: 1;
}

.recheios{
    grid-column-start: 3;
    grid-row-start: 2;
}

.cobertura{
    grid-column-start: 3;
    grid-row-start: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: black;
}

footer span{
    width: fit-content;
}

footer span img{
    width: 40%;
}